<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">true</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.query.substitutions">true=1,flase=0</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
		
		<mapping resource="com/asdc/lrm/entity/SysMenuEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/SysMenuRoleEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/GroupEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/UserEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/RoleEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/LogEntity.hbm.xml" />
		
		<mapping resource="com/asdc/lrm/entity/ZykCityEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/ZykCourseEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/ZykCourseRresourceRelationEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/ZykEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/ZykLogEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/ZykQuestionbankEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/ZykResourceEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/ZykUserEntity.hbm.xml" />
		<mapping resource="com/asdc/lrm/entity/ZykDatachangeLogEntity.hbm.xml" />
	</session-factory>
</hibernate-configuration>