html {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    overflow:hidden;
}
.login_head{
    height:75px;
}
.login_main {
    top:0px;
    position:relative;
    overflow:auto;
    height:100%;
    background:#fff;
}
.login_bigbox {
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
	min-width:1000px;
	max-width:1600px;
	height:80%;
	min-height:500px;
	max-height:800px;
	background:url("../images/login-bg.png");  
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
    -moz-background-size:100% 100%;  
    background-size:100% 100%; 
	background:url("../images/login-bg.png") center center;
	background-size:cover;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.jpg', sizingMethod='scale');
}  
.login_foot {
    height:55px;
    background:#fff;
    clear:both;
}
.login_foot span{ 
	line-height:25px; 
	color:#999;
}
.login_content{
	top:20%;
	float:right;
	margin-right:8%;
	position:relative;
	width:342px; height:280px;
	background-color:#4ebffc;	
	-moz-border-radius: 10px;      /* Gecko browsers */
	-webkit-border-radius: 10px;   /* Webkit browsers */
	border-radius:10px;            /* W3C syntax */
}
.loginname,.password{
	background-color:#FFFFFF; 
	height:40px; 
	line-height:40px; 
	text-align:right;
	border-radius:4px;
}
.loginname{
	margin:30px 20px 15px;
	background-image: url(../images/login-icon_01.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.password{
	margin:15px 20px 30px;
	background-image: url(../images/login-icon_02.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding:0px;
}
.login-input{
	height:40px;
	line-height:40px;
	padding:0px 5px;
	margin-left:20px;
	width:250px;
	border-radius:4px;
	border:0px solid #909090;
	color:#333;
	transition: all 0.3s ease-out;
	-webkit-transition: box-shadow 0.30s ease-in-out;   //只让box-shadow属性做过渡效果！
	-moz-transition:  box-shadow 0.30s ease-in-out;      //firefox
}
.login-input:focus{
	outline:none;
	background-color:#E6F2F7;
	border:#87C6F9 0px solid;
}
a.login_btn{
	display:block;
	border-radius:4px;
	border:0px solid #909090;
	color:#333;
	transition: all 0.3s ease-out;
	-webkit-transition: box-shadow 0.30s ease-in-out;   //只让box-shadow属性做过渡效果！
	-moz-transition:  box-shadow 0.30s ease-in-out;      //firefox
	height:40px;
	line-height:40px;
	padding:0px 5px;
	margin:0 20px;
	background-color:#FADB29;
	text-align:center;
	font-size:18px;
	letter-spacing:1em;
}
a.login_btn:hover{
	color:#111;
	background-color:#FFFF33;
}
.login_info{
	height:40px;
	line-height:40px;
	margin:0 20px;
	font-weight:bold;
	font-size: 14px;
}
.login_info a{
	color:#666
}
.login_info a:hover{
	color:#111
}