/*↓common style ↓*/
html {

}
.head{

}
.main {
	overflow:visible;
    height:96%;
	min-height:300px;
    background:#fff;
}
.main_bigbox {
    margin: 0 auto;
    overflow:hidden;
    width: 90%;
	min-width:1000px;
	max-width:1600px;
	height:100%
}
.main_bigbox1 {
    margin: 0 auto;
    overflow:hidden;
    width: 100%;
	min-width:1000px;
	max-width:1600px;
	height:100%
}
.main_summary {
    margin: 0 auto;
    overflow:hidden;
    width: 100%;
	min-width:1000px;
	max-width:1600px;
	height:100%;
	background-color: #FFFFFF;
}
.foot {
    height:25px;
    background:#f0f0f0;
    clear:both;
	border-top:1px solid #ddd;
}
html, body {
    height:100%;
}
body {
    color: #333;
    font-family: "Microsoft YaHei",Arial,SimSun,sans-serif;
    font-size: 12px;
    line-height: 2em;
}
body, div, p, dl, dt, dd, ul, ol, li, hr, pre, table, td, th, fieldset, legend, input, button, textarea, form, img, blockquote, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;line-height: 1.5;
}
li {
    list-style: outside none none;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover{color:#0f84e7;
}
.bigbox {
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
	min-width:1000px;
	max-width:1600px
}
.textcenter{ text-align:center;}
/*↓form style ↓*/
.search-input{
	width:210px;
	border-radius:4px;
	border:1px solid #909090;
	color:#333;
	height:25px;
	line-height:25px;
	padding:0px 5px;
	transition: all 0.3s ease-out;
	-webkit-transition: box-shadow 0.30s ease-in-out;		//只让box-shadow属性做过渡效果！
	-moz-transition:  box-shadow 0.30s ease-in-out;			//firefox
}
.search-input:focus{
     outline:none;
     border:#87C6F9 1px solid;
     box-shadow: 0 0 4px rgba(103, 166, 217, 1);
   }

/*↓head style ↓*/


.logreg{ text-align:right; color:#ccc;line-height: 2em;}
.logreg  span,.logreg a{color:#f4f4f4;line-height: 2em;}
.logreg span{margin-right:25px;}
.logreg a{margin:0px 5px;}
.logreg a:hover{color:#0f84e7;}

.head .head-logreg {
	background-color: #394553;
	height: 25px;
}
.head_left {
    background: url("../images/logo.png") no-repeat scroll left center #ffffff;
    display: block;
    float: left;
    height: 55px;
    padding: 10px 0 10px 80px;
}

.head_left p {
    color: #4a4a4a;
    font-size: 30px;
    padding: 10px 0 0 5px;
}
.head_right {
    float: right;
}
.head_right ul li.on {
	background-attachment:scroll;
	background-color: #f9f9f9;
	background-image: url(../images/menu_on_bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	border-right:1px #eeeeee solid;
	border-left:1px #eeeeee solid;
}
.head_right ul li.on a {
    color: #111;
}
.head_right ul a {
    font-size: 16px;
}

.head_right ul li {
    float: left;
    height: 75px;
    line-height: 75px;
    padding: 0 40px;
}

.head-menu{
height:48px;
background: url("../images/head_menu_bg.png") repeat-x scroll left top #ffffff;}

/*↓lstatus area ↓*/
.search-status{ height:55px; background-color:#FFFFFF;}
.search-status ul li {
background-color:#F4F4F4;
    float: left;
    height: 45px;
    line-height: 46px;
    padding: 0px;
	width:84px;
	text-align:center;
	border-bottom:1px #CCCCCC dotted;
color:#333;
}
.search-status ul li.on{height: 55px;background: url("../images/status_bg_on.png") repeat-x;border-bottom:0px;
}
.search-status ul li a{color:#333}
.search-status ul li a:hover{color:#eee;}
.search-status ul li.on a{font-size:14px;color:#fff
}

/*↓lsecond-menu ↓*/
.second-menu{ float:right;}
.second-menu ul li {
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0px 40px;
	text-align:center;
	margin:5px 2px;
	font-size:14px;
	-moz-border-radius: 6px;      /* Gecko browsers */
    -webkit-border-radius: 6px;   /* Webkit browsers */
    border-radius:6px;            /* W3C syntax */
}
.second-menu ul li.on{background: #f9f9f9; border:1px solid #ddd;

}
.second-menu ul li a{color:#111;}
.second-menu ul li a:hover{color:#0f84e7;}
.second-menu ul li.on a{	font-weight:bold;
}


/*↓left searcharea ↓*/
.main_leftsearch{
	float: left;
	width:255px; 
	border-right:1px solid #bbb; 
	border-left: 1px solid #ccc;
	background-color:#ddd;
	height:100%;
	margin-right:-255px; 
	box-shadow: 0 0 4px rgba(66,66,66, 1);
}
.main_leftMenu{
	float: left;
	width:200px; 
	border-right:1px solid #bbb; 
	border-left: 1px solid #ccc;
	background-color:#ddd;
	height:100%;
	margin-right:-200px; 
	box-shadow: 0 0 4px rgba(66,66,66, 1);
}
.main_leftTree{
	float: left;
	width:200px; 
	border-right:1px solid #bbb; 
	border-left: 1px solid #ccc;
	background-color:#EFEFEF;
	height:100%;
	margin-right:-200px; 
	box-shadow: 0 0 4px rgba(66,66,66, 1);
}
.search-by{background-color:#fff;height:64px; padding-top:5px;}
.search-by img, .search-by a{display:block;}
.search-by ul li {
    display:block;
    float: left;
    height: 64px;
    line-height: 2em;
    padding: 0px;
	width:70px;
	margin:0px 6px;
	text-align:center;
    color:#FFFFFF;
}
.search-by ul li.on{
 background-color:#ddd;
 border-color:#ccc; 
 border-style: solid;
 border-width: 1px 1px 0px; 
-moz-border-top-left-radius: 6px;      /* Gecko browsers */
-webkit-border-top-left-radius: 6px;   /* Webkit browsers */
border-top-left-radius:6px;            /* W3C syntax */
-moz-border-top-right-radius: 6px;      /* Gecko browsers */
-webkit-border-top-right-radius: 6px;   /* Webkit browsers */
border-top-right-radius:6px;            /* W3C syntax */
	}
.search-by ul li img{
margin:5px auto 0px;

-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
	    filter: gray;

}
.search-by ul li.on img{
-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: ;
}
.search-by ul li a{color:#999;}
.search-by ul li a:hover{color:#333;}
.search-by ul li.on a{color:#0f84e7;
}
.oneofsearch{text-align:center;padding:20px 5px 0px; clear:both;}
.div-interval{ 
    height:1px;  
    line-height:1px;
	border-bottom:#999999 1px dotted;
	margin:15px 20px;}
/*↓left searcharea -time↓*/

.selecttime{margin:10px auto; text-align:center;padding:0px 9px;}
.selecttime ul li {
    background-image: -webkit-linear-gradient(top,#fff 0%, #e7e7e7 80%);  
    background-image: -moz-linear-gradient(top,#fff 0%, #e7e7e7 80%); 
    background-image: -o-linear-gradient(top,#fff 0%, #e7e7e7 80%); 
    background-image: -ms-linear-gradient(top,#fff 0%, #e7e7e7 80%);  
    background-image: linear-gradient(top,#ffffff 0%, #e7e7e7 80%);  
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#e7e7e7,grandientType=1);
 border:1px solid #ccc;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0px;
	width:64px;
	margin:5px 6px 10px;
	text-align:center;
	-moz-border-radius: 4px;      /* Gecko browsers */
    -webkit-border-radius: 4px;   /* Webkit browsers */
    border-radius:4px;            /* W3C syntax */
	transition: all 0.3s ease-out;
}
.selecttime ul li.on{background:#0f84e7; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0f84e7,endColorstr=#0f84e7,grandientType=1); border:1px solid #0069c1;
}
.selecttime ul li a{color:#777;}
.selecttime ul li a:hover{color:#111;}
.selecttime ul li:hover{border:1px solid #bbb;box-shadow: 0 0 4px rgba(111, 111,111, 1);}
.selecttime ul li.on a{color:#FFFFFF
}
.inputarea{margin:10px auto;text-align:center;}

/*↓lmain_right content area ↓*/
.main_rightcontent{background-color:#fff;margin-left:252px; height:100%;width:auto;}
.main_rightMenu{background-color:#fff;margin-left:200px; height:100%;width:auto;}
.main_rightTree{background-color:red;margin-left:200px; height:100%;width:auto;}
.chart-head{ height:20px; padding:10px 10px 0px;}
.chart-tabs{float:left;}
.chart-tabs li{float:left; margin:0px 5px; font-size:14px;}
.chart-tabs li.on{font-size:14px;color:#111; margin:0px 20px; }
.chart-tabs li img{vertical-align:middle; margin-right:5px;}
.chart-tabs li a{line-height:24px; color:#999999;}
.chart-tabs li a:hover{color:#0f84e7;}
.chart-tabs li.on a{line-height:24px; color:#333;}
.chart-tools{float:right;}
.chart-tools a{display:block; float:left; margin:0px 3px;}
.chart-tools a:hover{ box-shadow: 0 0 4px rgba(103, 166, 217, 1);}
.chart-tools a img{border:0px}

.chartdetail{ text-align:center;}
.foot span{color:#aaa; line-height:25px;}

/*↓only statuts left area ↓*/
.leftstatus{
	float: left;
	width:90px;
	height:100%;
	margin-right:-90px;
	background-image: url(../images/leftstatus_04.png);
	background-repeat: repeat-y;
}
.menu-status ul{margin-top:20px; display:block;}
.menu-status li{height:86px; display: block; text-align:center;padding-top:10px;}
.menu-status li.on{	background: url(../images/leftstatus_02.png) no-repeat;}
.menu-status li a{color:#999; padding:45px 0px 0px;display:block;height: 42px;width: 42px;margin:0px auto;background-repeat:no-repeat;}
.menu-status li.on a{color:#FFFFFF; font-size:14px;}
.menu-status li a.sbz{	background-image: url(../images/icon_status01g.png);}
.menu-status li.on a.sbz{	background-image: url(../images/icon_status01.png);}
.menu-status li a.ylx{	background-image: url(../images/icon_status02g.png);}
.menu-status li.on a.ylx{	background-image: url(../images/icon_status02.png);}
.menu-status li a.yys{	background-image: url(../images/icon_status03g.png);}
.menu-status li.on a.yys{	background-image: url(../images/icon_status03.png);}

/*↓tableheader tab ↓*/
.tableheader-tab{margin:10px; height:40px; border:1px #cccccc solid; background-color:#fff;}
.tableheader-tab ul{ margin-left:50px;}
.tableheader-tab li{height:40px; display: block; float: left; text-align:center; white-space:nowrap; margin:0px 25px }
.tableheader-tab li.on{	border-bottom:2px #008aff solid;}
.tableheader-tab li a{color:#999; display:block; height: 40px;;background-repeat:no-repeat; line-height:40px;}
.tableheader-tab li.on a{color:#008aff; }

.basic-search{margin-left:0px; margin-right:20px; margin-top:10px; margin-bottom:10px; height:40px; border:1px #cccccc solid; background-color:#fff;}
.basic-search-div{margin-left:0px; margin-right:20px; margin-top:5px; margin-bottom:10px; height:40px;}
.summary-search{margin-left:15px; margin-right:10px; margin-top:0px; margin-bottom:0px; height:30px; text-align: left;}
.summary-export{margin-left:15px; margin-right:15px; margin-top:0px; margin-bottom:0px; height:30px; text-align: right;}

.button{
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-shadow:1px 1px 1px #333;
	border-radius: 5px;
	margin:0 00px 00px 0;
	position: relative;
	overflow: hidden;
}

.button.gray{
	color: #8c96a0; text-shadow:1px 1px 1px #fff; border:1px solid #dce1e6; box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
	background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: linear-gradient(top,#f2f3f7,#e4e8ec);
}
.button.black{
	border:1px solid #333; box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;
	background: -webkit-linear-gradient(top,#656565,#4c4c4c);
	background: -moz-linear-gradient(top,#656565,#4a4a4a);
	background: linear-gradient(top,#656565,#4a4a4a);
}
.button.red{
	border:1px solid #b42323; box-shadow: 0 1px 2px #e99494 inset,0 -1px 0 #954b4b inset,0 -2px 3px #e99494 inset;
	background: -webkit-linear-gradient(top,#d53939,#b92929);
	background: -moz-linear-gradient(top,#d53939,#b92929);
	background: linear-gradient(top,#d53939,#b92929);
}
.button.yellow{
	border:1px solid #d2a000; box-shadow: 0 1px 2px #fedd71 inset,0 -1px 0 #a38b39 inset,0 -2px 3px #fedd71 inset;
	background: -webkit-linear-gradient(top,#fece34,#d8a605);
	background: -moz-linear-gradient(top,#fece34,#d8a605);
	background: linear-gradient(top,#fece34,#d8a605);
}
.button.green{
	border:1px solid #64c878; box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
	background: -webkit-linear-gradient(top,#90dfa2,#84d494);
	background: -moz-linear-gradient(top,#90dfa2,#84d494);
	background: linear-gradient(top,#90dfa2,#84d494);
}
.button.blue{
	border:1px solid #1e7db9; box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
	background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
	background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
	background: linear-gradient(top,#42a4e0,#2e88c0);
}
