<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="sysMenuDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.SysMenuDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="sysMenuRoleDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.SysMenuRoleDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="groupDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.GroupDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="userDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.UserDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="roleDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.RoleDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="logDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.LogDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="zykCityDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.ZykCityDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="zykCourseDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.ZykCourseDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="zykCourseRresourceRelationDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.ZykCourseRresourceRelationDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="zykDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.ZykDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="zykLogDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.ZykLogDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="zykQuestionbankDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.ZykQuestionbankDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="zykResourceDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.ZykResourceDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="zykUserDao"  parent="txProxyTemplate" >
		<property name="target">
	    	<bean class="com.asdc.lrm.dao.impl.ZykUserDaoImpl" autowire="byName"></bean>
	    </property>
	</bean>
	
	<bean id="reportSummaryDao" parent="txProxyTemplate">
		<property name="target" >
			<bean class="com.asdc.lrm.dao.impl.ReportSummaryDaoImpl" autowire="byName"></bean>
		</property>
	</bean>

	<bean id="zykDatachangeLogDao" parent="txProxyTemplate">
		<property name="target" >
			<bean class="com.asdc.lrm.dao.impl.ZykDatachangeLogDaoImpl" autowire="byName"></bean>
		</property>
	</bean>
	
</beans>